html, body {
    height: 100vh;
    width: 100%;
    padding: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin:0;
    
  }
  main {
    height: 53.3vh;
  }
  
  footer{
    margin-top: 5%;
    padding: 1%;
    text-align: center;
    background-color: black;
    color: white;
    text-decoration: none;
  
  }
  
  
  .quest{
    margin-left: 10%;
    margin-right:10%;
    border-radius: 10px;
    padding: 1%;
    border: 1px solid black;
  }
  
  .botao{
    border: 1px solid black;
    border-radius:1px;
    width:20%;
    margin-left: 40%;
    align-items: center;
  }
  
  .inputstilo{
    border: 1px solid black;
    border-radius: 1px;
    margin-bottom: 1%;
    margin-left:25%;
    height: 30px;
    width: 50%;
  }
  
  h1{
    font-style: normal;
    font-family: 'Acme', sans-serif;
    background-color: black;
    color: white;
    padding: 2%;
    margin-top:0;
  
  }
  
  h2{
    font-family: 'Arial', sans-serif;
  }
  
  p{
    font-family: 'calibri', sans-serif;
    font-size: 20px;
  }

  #DivQ2{
    margin: 3rem auto 0;
    max-width: 480px;
  }
  .taskDivs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }

  .taskDivs button{
    height: 30px;
    width: 50px;
  }

  #DivQ3{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;  
  }

  .filmeDiv{
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
  }